{% extends  'comun/base.html' %}

{% load static %}

{% load widget_tweaks %}


{%block title%}{% endblock title%}

{% block body%}
<section>
          <div class="section-body">
            <div class="row">
              <!-- BEGIN  - FORM -->
              <div class="col-lg-12 syle">
                <div class="card" style="margin-left: 229px;margin-right: 89px;">
                  <div class="card-head style-primary">
                    <header>Cambio de contraseña</header>
                    <div class="tools">
                      <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <form class="form" role="form" action="" method="post"> {% csrf_token %}
                        {{ form }}

                        
                        <div class="col-md-12" style="margin-left: -95px;">
                          <div class="card-actionbar-row">

                            <button class="btn btn-primary btn-raised">Cambiar Contrase&ntilde;a</button>

                            <a href="/login/" class="btn btn-primary btn-raised">Volver</i></a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div><!--end .card-body -->
                </div><!--end .card -->
              </div><!--end .col -->
              <!-- END FORM - TIME ON SITE -->
            </div><!--end .row -->
          </div><!--end .section-body -->
        </section>
        <script src="{% static 'js/validar.js' %}"></script>
{% endblock %}
