{% extends  'comun/base.html' %}

{% load static %}

{% load widget_tweaks %}


{%block title%}Inventario{% endblock title%}

{% block body%}


<article class="content forms-page">
    <div class="title-block">
        {% if medicamento %}
        <h3 class="title">Editar Medicamentos</h3>
        <p class="title-description">Cambie los datos del Medicamentos</p>
        {% else %}
        <h3 class="title">Agregar Medicamentos</h3>
        <p class="title-description">Introduzca los datos del Medicamentos</p>
        {% endif %}
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                {% if modo == "agregado" %}
                {% if messages %}
                {% for message in messages %}
                <div class="card card-primary">
                    <div class="card-header"> 
                        <div class="header-block">
                            <em class="fa fa-check"></em>
                            <p class="title">{{ message }}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%endif%}
                {%endif%}

                {% if modo == "editado" %}
                {% if messages %}
                {% for message in messages %}
                <div class="card card-primary">
                    <div class="card-header"> 
                        <div class="header-block">
                            <em class="fa fa-check"></em>
                            <p class="title">{{ message }}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%endif%}
                {%endif%}

                <div class="card card-block sameheight-item">
                    <form class="form" role="form" action=""  autocomplete="off" method="post"> 
                        {% csrf_token %}

                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{form.tipo_medicamento.label }}</label>
                                    {{form.tipo_medicamento |add_class:'form-control'}}
                                    <span class="help-block text-danger">{{form.errors.tipo_medicamento.label }}</span>
                                </div>
                            </div>

                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{form.nombre.label}}</label>
                                    {{form.nombre|attr:"placeholder:Introduzca Nombre del Medicamento"|add_class:'form-control'|attr:'validate:LETRAS,ENTER,ESPACIO'}}
                                    <span class="help-block text-danger">{{ form.errors.nombre }}</span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{form.tipo_farmac.label }}</label>
                                    {{form.tipo_farmac |add_class:'form-control'}}
                                    <span class="help-block text-danger">{{form.errors.tipo_farmac.label }}</span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>{{form.cantidad.label }}</label>
                                    {{ form.cantidad |add_class:'form-control'|attr:"placeholder:Introduzca Cantidad"|attr:'validate:NUMEROS,ENTER,ESPACIO'|attr:'minlength:8' |attr:'maxlength:8' }}
                                    <span class="help-block text-danger">{{form.errors.cantidad.label }}</span>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{form.concentracion.label }}</label>
                                    {{ form.concentracion |attr:"placeholder: Ejemplo 500 mg por tableta, 100 mg ml en solución inyectable "|add_class:'form-control' }}
                                    <span class="help-block text-danger">{{form.errors.concentracion.label }}</span>
                                </div>
                            </div>

                            <br>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{form.descripcion.label }}</label>
                                    {{ form.descripcion |attr:"placeholder: Antibiótico de amplio espectro utilizado para tratar infecciones bacterianas respiratorias, urinarias y de la piel. Presentación en tabletas recubiertas de 500 mg."|add_class:'form-control' }}
                                    <span class="help-block text-danger">{{form.errors.descripcion.label }}</span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{form.componentes.label }}</label>
                                    {{ form.componentes |add_class:'form-control' }}
                                    <span class="help-block text-danger">{{form.errors.componentes.label }}</span>
                                </div>
                            </div>

                        </div>

                        <div class="dropdown-divider"></div>
                        <center>
                            <center>
                                <div class="col-md-12 d-flex gap-3">
                                    <button class="btn btn-primary btn-oval" type="submit">Ingresar</button>
                                    <a href="{% url 'medicamentos:lista_medicamentos' %}" class="btn btn-secondary btn-oval">Cancelar</a>
                                </div>
                            </center>
                        </center>
                    </div>                   
                </div> 
            </form>
        </div>
    </section>
</article>


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/validar.js' %}"></script>
<script src="{% static 'js/alertify.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'js/css/alertify.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/css/themes/default.css' %}">
<script src="{% static 'js/validfecha_rep.js' %}"></script>
<script src="{% static 'js/select2/select2.min.js' %}"></script>


{% if messages %}
  {% for message in messages %}
    {% autoescape off %}{{ message }}{% endautoescape %}
  {% endfor %}
{% endif %}



{% endblock %}