{% extends "comun/base.html" %}
{% block body %}

<!-- NO MODIFICAR ---------------------------------->
{% load static %}
<script src="{% static 'js/Eliminar.js' %}"></script>
<!-- FIN DE JAVASCRIPT ------------------------------------>

<article class="content responsive-tables-page">
    <div class="title-block">
        <h1 class="title">Lista de registro de Medicamentos</h1>
        <p class="title-description">Medicamentos registrados</p>
        <p>Registros encontrados: {{ registro_medicamentos.count }}</p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <div class="form-group">
                                <a href="{% url 'medicamentos:registrar_medicamento' %}">
                                    <button type="button" class="btn btn-oval btn-primary">Registrar entrada de Medicamentos</button>
                                </a>
                            </div>
                        </div>
                        
                        

                        <!-- Leyenda Explicativa -->
                        <div class="alert alert-info" role="alert">
                            <strong>Nota:</strong>
                            <ul>
                                <li><span style="color: #856404; font-weight: bold;">Amarillo:</span> Medicamento con bajo stock (menos de 10 unidades).</li>
                                <li><span style="color: #721c24; font-weight: bold;">Rojo:</span> Medicamento próximo a vencer (menos de 30 días).</li>
                            </ul>
                        </div>
                        <!-- Fin de la leyenda -->

                        <section class="example">
                            <div class="table-responsive">
                                <table id="example2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Código de registro</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Fecha de Registro</th>
                                            <th>Fecha de Producción</th>
                                            <th>Fecha de Vencimiento</th>
                                            <th>Benefactor</th>
                                            {% if user.is_staff %}
                                                <th>Opciones</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for registro in registro_medicamentos %}
                                        <tr 
                                            {% if registro in low_stock_medicamentos %}
                                                class="table-warning" title="Bajo stock: menos de 10 unidades."
                                            {% elif registro in about_to_expire_medicamentos %}
                                                class="table-danger" title="Próximo a vencer: menos de 30 días."
                                            {% endif %}
                                        >
                                            <td>{{ registro.pk }}</td>
                                            <td>{{ registro.medicamento.nombre }}</td>
                                            <td>{{ registro.cantidad }}</td>
                                            <td>{{ registro.fecha_registro_medicamento|date:"d/m/Y" }}</td>
                                            <td>{{ registro.produccion_tanda }}</td> 
                                            <td>{{ registro.vencimiento_tanda }}</td> 
                                            <td>{{ registro.benefactor.nombre }}</td>
                                            {% if user.is_staff %}
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-wrench"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="{% url 'medicamentos:editar_registro_medicamento' registro.pk %}">Editar Medicamento</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="{% url 'medicamentos:eliminar_registro_medicamento' registro.pk %}">Eliminar Medicamento</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <div class="form-group">
                            <a href="{% url 'medicamentos:lista_medicamentos' %}">
                                <button type="button" class="btn btn-oval btn-primary">Volver</button>
                            </a>
                            <div class="form-group">
                                <a href="{% url 'medicamentos:generar_reporte_registro_medicamentos' %}">
                                    <button type="button" class="btn btn-primary btn-lg">
                                        <i class="fa fa-file-excel-o"></i> Descargar Reporte en Excel
                                    </button>
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="{% url 'medicamentos:reporte_bajo_stock' %}">
                                    <button type="button" class="btn btn-warning">
                                        <i class="fa fa-file-excel-o"></i> Descargar Reporte de Bajo Stock
                                    </button>
                                </a>
                                <a href="{% url 'medicamentos:reporte_proximos_a_vencer' %}">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-file-excel-o"></i> Descargar Reporte de Próximos a Vencer
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<script>
    // Inicialización de tooltips si usas Bootstrap
    $(function () {
        $('[title]').tooltip();
    });
</script>

{% endblock %}
